*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.slogan h2{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.title{
    display: inline-block;
    width: 30%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
    border-right: solid 2px black;
}
.links{
    display: inline-block;
    width: 69%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
}
.links a{
    text-decoration: none;
    color: black;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    
}
li:hover{
    border-bottom: solid 2px black;
}
.pic{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
img{
    width: 80vw;
    height: auto;
}

.topping{

    
    height: 12vh;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;

}
.topping img{
    height: 12vh;
    width: auto;
}

/* endre farge til den du vil, ikke svart */
footer{
    
    height: 26vh;
    color: #DADADA;
    background-color:blue;
    line-height: 5vh;
}
footer h2{
    padding-top: 3vh;
}
    