*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}


.title{
    display: inline-block;
    width: 30%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
}
.links{
    display: inline-block;
    width: 69%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
}
.links a{
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
}
img{
    width: 80vw;
    height: auto;
}
